<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>StudentManagerWeb</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>

    <servlet>
        <description>登录验证</description>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>priv.fandy.bookseat.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>登录后的主页面</description>
        <display-name>SystemServlet</display-name>
        <servlet-name>SystemServlet</servlet-name>
        <servlet-class>priv.fandy.bookseat.servlet.SystemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemServlet</servlet-name>
        <url-pattern>/SystemServlet</url-pattern>
    </servlet-mapping>
    <filter>
        <description>登录状态过滤</description>
        <filter-name>LoginFilter</filter-name>
        <filter-class>priv.fandy.bookseat.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/SystemServlet</url-pattern>
        <url-pattern>/UserServlet</url-pattern>
        <url-pattern>/RoomServlet</url-pattern>
        <url-pattern>/SeatsServlet</url-pattern>
        <url-pattern>/UserSeatsServlet</url-pattern>
        <url-pattern>/NotifyServlet</url-pattern>
    </filter-mapping>
    <servlet>
        <description>用户信息管理</description>
        <display-name>UserServlet</display-name>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>priv.fandy.bookseat.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>自习室管理</description>
        <display-name>RoomServlet</display-name>
        <servlet-name>RoomServlet</servlet-name>
        <servlet-class>priv.fandy.bookseat.servlet.RoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RoomServlet</servlet-name>
        <url-pattern>/RoomServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>座位管理</description>
        <display-name>SeatsServlet</display-name>
        <servlet-name>SeatsServlet</servlet-name>
        <servlet-class>priv.fandy.bookseat.servlet.SeatsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SeatsServlet</servlet-name>
        <url-pattern>/SeatsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>选座</description>
        <display-name>UserSeatsServlet</display-name>
        <servlet-name>UserSeatsServlet</servlet-name>
        <servlet-class>priv.fandy.bookseat.servlet.UserSeatsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserSeatsServlet</servlet-name>
        <url-pattern>/UserSeatsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>通知公告</description>
        <display-name>NotifyServlet</display-name>
        <servlet-name>NotifyServlet</servlet-name>
        <servlet-class>priv.fandy.bookseat.servlet.NotifyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NotifyServlet</servlet-name>
        <url-pattern>/NotifyServlet</url-pattern>
    </servlet-mapping>

</web-app>